<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="EverythingElse" target="SYSTEM_ERR"/>
        <Console name="NordstromLogging" target="SYSTEM_OUT">
            <PatternLayout
                    charset="UTF-8"
                    pattern="%date{ISO8601}Z %level [%map{request-id},%map{session-id},%map{client-id}] %notEmpty{[%map{fields}]} %map{message} %notEmpty{error.stack=%map{error.stack}}%n"
            />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="httpclient.wire" level="ERROR" >
            <AppenderRef ref="NordstromLogging"/>
        </Logger>
        <Logger name="org.apache.http.wire" level="ERROR" >
            <AppenderRef ref="NordstromLogging"/>
        </Logger>
        <Logger name="com.nordstrom.nap.logging.Logger" level="info" additivity="false">
            <AppenderRef ref="NordstromLogging"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="EverythingElse"/>
        </Root>
    </Loggers>
</Configuration>
